.grid-item {
  height: 308px;
  width: 308px;
  text-align: left;
  position: relative;

  &:hover {
    .grid-item__info-wrapper {
      background-color: var(--surface-2);
    }
  }

  &__wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__pic {
    width: 100%;
    height: 100%;
  }

  &__info-wrapper {
    position: absolute;
    background-color: var(--surface-1);
    height: 90px;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__info {
    font-size: 1rem;
    padding: var(--spacing-2);
  }

  &__name {
    font-size: 1.25rem;
    font-weight: 800;
    margin: 0 0 var(--spacing-1) 0;
    padding: 0;
  }

  &__buttons-container {
    position: relative;
    right: 0;
    z-index: 2;
    bottom: 83px;
    text-align: right;
  }
}