
// https://colorffy.com/dark-theme-generator?colors=e95442-121212
.theme-dark-default {
  --bg-primary: #121212;
  --bg-secondary: #282828;

  --txt-primary: #FFF;
  --txt-secondary: #000;

  // --btn-txt-primary: ;
  // --btn-txt-secondary: ;

  // --btn-bg-primary: ;
  // --btn-bg-secondary: ;
}