
// https://colorffy.com/dark-theme-generator?colors=e95442-121212
.theme-dark-default {
  --bg-primary: #121212;
  --bg-secondary: #282828;

  --txt-primary: #FFF;
  --txt-secondary: #000;

  --util-primary: #8b8b8b;
  --btn-txt-primary: var(--txt-secondary);

  --btn-bg-primary: #f47e69;
  --btn-bg-primary--hover: #ef6a55;

  --status-error: #F00;

  --surface-1: rgba(0, 0, 0, .75);
  --surface-2: #575757;
  --surface-3: #8b8b8b;
}