// https://colorffy.com/light-theme-generator?colors=16de2f-ffffff
.theme-light-default {
  --bg-primary: #ffffff;
  --bg-secondary: #f0f0f0;

  --txt-primary: #000;
  --txt-secondary: #FFF;

  --util-primary: #b6b6b6;

  --btn-txt-primary: var(--txt-secondary);

  --btn-bg-primary: #4fc94a;
  --btn-bg-primary--hover: #3bd43e;

  --status-error: #F00;

  --surface-1: rgba(255, 255, 255, .75);
  --surface-2: #d3d3d3;
  --surface-3: #b6b6b6;
}
