// https://colorffy.com/light-theme-generator?colors=16de2f-ffffff
.theme-light-default {
  --bg-primary: #ffffff;
  --bg-secondary: #f0f0f0;

  --txt-primary: #000;
  --txt-secondary: #FFF;

  // --btn-txt-primary: ;
  // --btn-txt-secondary: ;

  // --btn-bg-primary: ;
  // --btn-bg-secondary: ;
}
