body {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 100%;
  margin: 0%;
  padding: 0%;
}

.App {
  background-color: var(--bg-primary);
  color: var(--txt-primary);
  min-height: 100vh;
}

.content-container {
  width: 1280px;
  margin: 0 auto;
}
